* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../images/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.chat-container {
    /* border: 1px solid red; */
    background-image: url('./../images/chat-themes/theme-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 700px;
    border-radius: 20px;
    padding: 10px 15px;
    position: relative;
    /* overflow-y: auto;
    overflow-x: hidden; */
    background-color: #ECEFF1;
    z-index: 1;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.chat-container::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
}
.chat-container h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-top: 10px;
    font-weight: 1000;
    color: white;
}

.chat-seetings {
    position: sticky;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid white;
    padding-top: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    background-color: #1DE9B6;
    color: white;
    transition: 0.3s;
}
.icon:hover {
    background-color: #17bf95;
}
#message {
    width: 250px;
    padding: 8px 10px;
    outline: none;
    border-radius: 20px;
    border: 1px solid white;
}
#message:focus {
    border: 1px solid #1DE9B6;
}
.mount-message {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 570px;
    margin-bottom: 10px;
}
.message {
    width: 260px;
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.message:not(:first-child) {
    margin-top: 20px;
}
.sender {
    background-color: #1DE9B6;
    position: relative;
    right: -80px;
}
.receiver {
    background-color: #4DB6AC;
}

.default-message {
    font-size: 12px;
    color: #17bf95;
    font-weight: 800;
}